button {
    width: 5rem;
    height: 5rem;

    font-weight: bold;
    font-size: larger;

    color: purple;

    border: 0.25rem solid orchid;

    cursor: pointer;
}

button:hover{
    font-size: xx-large;

    background-color: pink;
    transition: background-color 1s ease-in-out;
}
  