* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
  
html, body {
  height: 100vh;
  width: 100vw;
  
  background-color: purple;

  color: black;
}
  
#root{
  min-height: 100vh;

  align-items: center;
  margin:auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
}
  
header, footer {
  width: 100vw;
  text-align: center;
  
  color: black;
  
  background: linear-gradient(45deg, blue, purple, red, blue);
  animation: gradient 15s ease infinite;
}
  
header{
  font-size: 3rem;
}
footer {
  font-size: 1rem;
}

main{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#calculator {
  width: 80vw;
  height: 75vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#keypad {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
 }

#screen{
  width: 20rem;
  height: 5rem;

  font-size: 24px;
  text-align: end;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  background-color: rosybrown;
  border: 0.5rem solid palevioletred;
}

#display{
  color: green;
}

#log{
  color: black;
}

#equals{
  background-color: lightcoral;
}

#clear{
  background-color: darkorange;
}
